{% extends "base-login.html" %}
{% block head %}
<title>Fee</title>
{% endblock %}
{% block body %}
{% if session['user']['role']=='student' %}
<ion-content>
  <ion-card>
    <h1>Fee Remaining : {{fee['fee']}}</h1>
  </ion-card>
</ion-content>
{% elif session['user']['role']=='admin' %}
<ion-content>
  <ion-card>
    <form action="{{ url_for('set_fee') }}" method="POST" name="course_form">

      <ion-item>
        <label for="class">Class</label>
        <input type="number" name="class" class="field" required>
      </ion-item>

      <ion-item>
        <label for="fee">fee</label>
        <input type="text" name="fee" class="field" required>
      </ion-item>

      <p class="error error--hidden"></p>
      <ion-item>
        <input type="submit" value="Sign Up" class="btn">
      </ion-item>


    </form>
  </ion-card>
</ion-content>
{% endif %}
{% endblock %}