{% extends "base.html" %}
{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}

{% block body %}
    <div class="card-wrapper">

        <div class="card">

            <h1 class="center">Log In</h1>
            <form action="http://localhost:5000/login" method="POST" name="login_form">

                <label for="username">ID</label>
                <input type="text" name="username" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Update Details" class="btn">

            </form>

        </div>

    </div>
{% endblock %}