{% extends "base.html" %}
{% block head %}
<title>Enter Details</title>
{% endblock %}
{% block body %}
{% if role == 'student' %}
<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Log In</h1>
        <form action="http://localhost:5000/login" method="POST" name="login_form">

            <label for="name">Full Name</label>
            <input type="text" name="name" class="field" required>

            <label for="username">ID</label>
            <input type="text" name="username" class="field" required>

            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" class="field" required>

            <label for="gender">Gender</label>
            <input type="radio" name="gender" class="field" required>

            <label for="doa">Date of Admission</label>
            <input type="date" name="doa" class="field" required>

            <label for="mobile">Mobile</label>
            <input type="text" name="mobile" class="field" required>

            <label for="email">Email ID</label>
            <input type="email" name="email" class="field" required>

            <label for="class">Class</label>
            <input type="number" name="class" class="field" required>

            <label for="id">Password</label>
            <input type="text" name="id" class="field" placeholder={{id}} required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Update Details" class="btn">

        </form>

    </div>

</div>

{% elif role == 'staff' %}
<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Log In</h1>
        <form action="http://localhost:5000/login" method="POST" name="login_form">

            <label for="username">ID</label>
            <input type="text" name="username" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Update Details" class="btn">

        </form>

    </div>

</div>

{% elif role == 'admin' %}
<div class="card-wrapper">

    <div class="card">

        <h1 class="center">Log In</h1>
        <form action="http://localhost:5000/login" method="POST" name="login_form">

            <label for="username">ID</label>
            <input type="text" name="username" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Update Details" class="btn">

        </form>

    </div>

</div>
{% endif %}
{% endblock %}