{% extends "base.html" %}
{% block title %}
Welcome
{% endblock %}
{% block body %}
<ion-app>
    <ion-header translucent>
        <ion-toolbar>
          <ion-title>Welcome</ion-title>
        </ion-toolbar>
      </ion-header>,
      <ion-content fullscreen>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>Student Login</ion-card-title>
                    </ion-card-header>
                    <ion-button href="stu/login">Student Login</ion-button>
                  </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>Parent Login</ion-card-title>
                    </ion-card-header>
                    <ion-button href="parent/login">Parent Login</ion-button>
                  </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                      <ion-card-title>Faculty Login</ion-card-title>
                    </ion-card-header>
                    <ion-button href="staff/login">Faculty Login</ion-button>
                  </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    </ion-content>
  </ion-app>
{% endblock %}