{% extends "base.html" %}

{% block head %}
    <title>Login</title>
    <link rel="stylesheet" href="https//stackpath.bootstrapcdn.com/bootswatch/4.5.0/cyborg/bootstrap.min.css">
{% endblock %}

{% block body %}
<style>
    * {
  box-sizing: border-box;
}

body {
  background-color: #0f000f;
}

.form {
  background-color: #868c82;
  width: 500px;
  margin: 50px auto 10px auto;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px -3px #333;
  text-align: center;
}

input {
  border-radius: 5px;
  padding: 10px 10px;
  width: 50%;
  border: 1px solid #D9D9D9;
  outline: none;
  display: block;
  margin: 20px auto 10px auto;
}

.btn {
  border-radius: 100px;
  border: none;
  background: #2d5cac;
  width: 50%;
  padding: 10px;
  color: #FFFFFF;
  margin-top: 25px;
  box-shadow: 0 2px 10px -3px #719BE6;
  display: block;
  margin: 55px auto 10px auto;
}
</style>

<div class="form"> 
    <h1>Login</h1>          
  <form action="http://localhost:5000/login" method="POST" name="login_form">
    
                  <input type="text" name="username" class="field" placeholder="ID" required>
  
                  
                  <input type="password" name="password" class="field" placeholder="Password" required>
  
                  <p class="error error--hidden"></p>
  
                  <input type="submit" value="Log In" class="btn">
  
              </form>
     {% if err %}
     <p>{{err}}</p>
     {% endif %}
  </div>

    </div>
{% endblock %}