{% extends "base.html" %}

{% block head %}
    <title>Student</title>
{% endblock %}

{% block body %}
    <ion-app>
        <ion-menu side="start" content-id="main-content">
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>{{id}}</ion-label>
          </ion-item>
            <ion-content>
              <ion-list>
                <ion-item>
                  <ion-button expand="block" fill="clear" href="http://localhost:5000/logout">Attendance</ion-button>
                </ion-item>
                <ion-item>
                  <ion-button expand="block" fill="clear" href="http://localhost:5000/logout">Marks</ion-button>
                </ion-item>
                <ion-item>
                  <ion-button expand="block" fill="clear" href="http://localhost:5000/logout">Fee Payment</ion-button>
                </ion-item>
                <ion-item>
                  <ion-button expand="block" fill="clear" href="http://localhost:5000/logout">Fee Recipts</ion-button>
                </ion-item>
                <ion-item>
                  <ion-button expand="block" fill="clear" href="http://localhost:5000/logout">Complaints</ion-button>
                </ion-item>
                  <ion-button expand="block" fill="clear" color="danger" href="http://localhost:5000/logout">Logout</ion-button>
              </ion-list>
            </ion-content>
          </ion-menu>
      
          <div class="ion-page" id="main-content">
            <ion-header>
              <ion-toolbar color="dark">
                <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>School2.0</ion-title>
              </ion-toolbar>
            </ion-header>
          </div>
        </ion-app>
      
        <script>
          async function openMenu() {
            await menuController.open();
          }
        </script>
    </ion-app>
{% endblock %}