{% extends "base.html" %}
{% block head %}
    <title>Signup</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
{% endblock %}
{% block body %}
    <div class="card-wrapper">

        <div class="card">

            <h1 class="center">Create an Account</h1>

            <form action="http://localhost:5000/result" method="POST" name="signup_form">

                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="username">Username/Email</label>
                <input type="text" name="username" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <label for="role">Permission level</label>
                <select name="role" id="role">
                    <option value="student">Student</option>
                    <option value="parent">Parent</option>
                    <option value="staff">Staff</option>
                    <option value="admin">Admin</option>
                  </select>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign Up" class="btn">

            </form>

        </div>

    </div>
{% endblock %}