{% extends "base-login.html" %}
{% block head %}
<title>Class Messages</title>
{% endblock %}
{% block body %}
{% if  session['user']['role']=='staff' %}
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-content>
                        <h1 text-align="center">Class Messages</h1>
                    </ion-content>

                    <form action="{{ url_for('postclsmsg') }}" method="POST" name="login_form">

                        <ion-item>
                            <ion-label>Course Name</ion-label>
                            <ion-select name="course_name" aria-required="required">
                                {% for i in course_list %}
                                <ion-select-option value="{{i}}">{{i}}</ion-select-option>
                                {% endfor %}
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Description</ion-label>
                            <ion-textarea autoGrow="true" name="content" required></ion-textarea>
                        </ion-item>
                        <ion-item>
                            <ion-label>Priority</ion-label>
                            <ion-select name="priority" aria-required="required">
                                <ion-select-option value="urgent">Urgent</ion-select-option>
                                <ion-select-option value="important">Important</ion-select-option>
                                <ion-select-option value="normal">Normal</ion-select-option>

                            </ion-select>
                        </ion-item>
                        <ion-button type="submit" value="Announce">Announce</ion-button>

                    </form>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
{% else %}

{% endif %}
{% endblock %}