{% extends "base-login.html" %}
{% block head %}
<title>Under construction</title>
{% endblock %}
{% block body %}
<ion-content>
    <ion-grid>
        <ion-row></ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col>
                <ion-card>
                    <iframe src="https://giphy.com/embed/14uQ3cOFteDaU" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                    <ion-button onclick="window.location.href='{{ url_for('home') }}';" fill="clear"><ion-icon name="home-outline"></ion-icon></ion-button>
                </ion-card>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        <ion-row></ion-row>
    </ion-grid>

</ion-content>


{% endblock %}