{% extends "base-login.html" %}
{% block head %}
<title>Details</title>
{% endblock %}

{% block body %}
<form action="{{ url_for('login') }}" method="POST" name="login_form">
    <ion-content>
        <ion-list>
            {% for i in session['user'].keys() %}
            <ion-item>
                <ion-col>
                    <h4>{{i}}</h4>
                </ion-col>
                <ion-col></ion-col>
                <ion-col>
                    <ion-input placeholder="{{session['user'][i]}}"></ion-input>
                </ion-col>
                <ion-col></ion-col>
            </ion-item>
            {% endfor %}
        </ion-list>
    </ion-content>
</form>


{% endblock %}