{% extends "base-login.html" %}

{% block head %}
<title>Welcome {{role}}</title>
{% endblock %}

{% block body %}
<ion-content>
  {% with messages=get_flashed_messages() %}
  {% if messages %}
  {% for i in messages %}
  <ion-text>{{i}}</ion-text>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-title class="list-group-item active">
            <h1>Announcements</h1>
          </ion-title>
          <ion-item-group>
            <ion-item-divider>
              <ion-label color='danger'>Urgent</ion-label>
            </ion-item-divider>
            {% for key in ann %}
            {% if key['Priority']=='Urgent' and key['class_id']=='all' %}
            <ion-item lines="none">
              <ion-label>
                <h1>{{ key['title'] }}</h1>
                <h5>{{ key['content'] }}</h5>
              </ion-label>
            </ion-item>
            {% endif %}
            {% endfor %}
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Normal</ion-label>
            </ion-item-divider>
            {% for key in ann %}
            {% if key['Priority']!='Urgent' and key['class_id']=='all'%}
            <ion-item lines="none">
              <ion-label>
                <h1>{{ key['title'] }}</h1>
                <h5>{{ key['content'] }}</h5>
              </ion-label>
            </ion-item>
            {% endif %}
            {% endfor %}
          </ion-item-group>
        </ion-card>
      </ion-col>
      {% if session['user']['username']=='admin' %}
      <ioncol>
        <ion-card>
          <h1>Active users: {{active_users}}</h1>
        </ion-card>
      </ioncol>
      {% endif %}
      {% if session['user']['role']=='student' %}
      <ion-col>
        {% if cls_msg|length > 0 %}
        <ion-card>
          <ion-title class="list-group-item active">
            <h1>Class Messages</h1>
          </ion-title>
          <ion-item-group>
            <ion-item-divider>
              <ion-label color='danger'>Urgent</ion-label>
            </ion-item-divider>
            {% for key in cls_msg %}
            {% if key['Priority']=='Urgent'%}
            <ion-item lines="none">
              <ion-label>
                <h1>{{ key['title'] }}</h1>
                <h5>{{ key['content'] }}</h5>
                <h5>{{ session['user']['class'] }}</h5>
              </ion-label>
            </ion-item>
            {% endif %}
            {% endfor %}
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>Normal</ion-label>
            </ion-item-divider>
            {% for key in cls_msg %}
            {% if key['Priority']!='Urgent'%}
            <ion-item lines="none">
              <ion-label>
                <h1>{{ key['title'] }}</h1>
                <h5>{{ key['content'] }}</h5>
              </ion-label>
            </ion-item>
            {% endif %}
            {% endfor %}
          </ion-item-group>
        </ion-card>
        {% endif %}
      </ion-col>
      {% if session['user']['username']=='admin' %}
      <ioncol>
        <ion-card>
          <h1>Active users: {{active_users}}</h1>
        </ion-card>
        {% endif %}
        </ion-col>
        {% endif %}
        <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

{% endblock %}