{% extends "base-login.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-title>
            <h1>Announcements</h1>
          </ion-title>

        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-title>
            <h1>Login</h1>
          </ion-title>
          <form action="{{ url_for('login') }}" method="POST" name="login_form">
            <ion-list>
              <ion-item lines="none">
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" name="username" id="inpID"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" name="password" id="inpPass"></ion-input>
              </ion-item>
            </ion-list>
            <section>
              <ion-button type="submit" id="login" expand="block" fill="clear">Submit</ion-button>
            </section>
          </form>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        {% if err %}
        <script></script>
        <p>{{err}}</p>
        {% endif %}
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for i in messages %}
        <ion-text>{{i}}</ion-text>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<script>
  var input = document.getElementById("inpID");
  var inpPass = document.getElementById("inpPass");
  // Execute a function when the user releases a key on the keyboard
  input.addEventListener("keyup", function (event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("login").click();
    }
  });
  inpPass.addEventListener("keyup", function (event) {
    // Number 13 is the "Enter" key on the keyboard
    if (event.keyCode === 13) {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      document.getElementById("login").click();
    }
  });
</script>
{% endblock %}