{% extends "base-login.html" %}
{% block head %}
    <title>Signup</title>
{% endblock %}
{% block body %}
    <ion-card>
        <h1 class="center">Create an Account</h1>

            <form action="{{ url_for('result') }}" method="POST" name="signup_form">

            <ion-list>
                <ion-item>
                    <label for="name">Full Name</label>
                <input type="text" name="name" class="field" required>
                </ion-item>
                

                <ion-item>
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" class="field" required>
                </ion-item>
            
                <ion-item>
                    <ion-label>Gender</ion-label>
                    <ion-select name="gender">
                      <ion-select-option value="male">Male</ion-select-option>
                      <ion-select-option value="female">Female</ion-select-option>
                      <ion-select-option value="others">Others</ion-select-option>
          
                    </ion-select>
                  </ion-item>
            <ion-item>
                <label for="doa">Date of Admission</label>
                <input type="date" name="doa" class="field" required>
            </ion-item>
            
            <ion-item>
                <label for="mobile">Mobile</label>
                <input type="text" name="mobile" class="field" required>
            </ion-item>
           
            <ion-item>
                <label for="email">Email ID</label>
                <input type="email" name="email" class="field" required>
            </ion-item>
            
            <ion-item>
                <label for="class">Class</label>
                <input type="number" name="class" class="field" required>
            </ion-item>
           
            <ion-item>
                <label for="username">Username/Email</label>
                <input type="text" name="username" class="field" required>
            </ion-item>
            
            <ion-item>
                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>
            </ion-item>
            
            <ion-item>
                <label for="role">Permission level</label>
                <select name="role" id="role">
                    <option value="student">Student</option>
                    <option value="parent">Parent</option>
                    <option value="staff">Staff</option>
                    <option value="admin">Admin</option>
                  </select>
            </ion-item>
            
            <p class="error error--hidden"></p>
            <ion-item>
                <input type="submit" value="Sign Up" class="btn">  
            </ion-item>
                

            </form>
            </ion-list>

            
    </ion-card>
{% endblock %}