<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css" />
    <link rel="stylesheet" href="../static/css/dark.css" />

    {% block head %}{% endblock %}
</head>

<body>
    <ion-app>
        <div class="ion-page" id="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-row>
                    <ion-col>
                    <ion-item lines='none'>
                        <ion-button fill="clear" href="{{url_for('home')}}">
                            <h4>School2</h4>
                        </ion-button>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines='none'>
                        <ion-icon slot="end" name="moon"></ion-icon>
                        <ion-toggle id="themeToggle" slot="end"></ion-toggle>
                      </ion-item>
                </ion-col>
            </ion-row>
                </ion-toolbar>
            </ion-header>
            {% block body %}
            {% endblock %}
        </div>
    </ion-app>
    <script>
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');

        toggleDarkTheme(prefersDark.matches);

        // Listen for changes to the prefers-color-scheme media query
        prefersDark.addListener((mediaQuery) => toggleDarkTheme(mediaQuery.matches));

        // Add or remove the "dark" class based on if the media query matches
        function toggleDarkTheme(shouldAdd) {
            document.body.classList.toggle('dark', shouldAdd);
        }
    </script>
</body>

</html>